
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .ftecno{
    
        background-image: url("descarga.jfif");
        
        background-repeat: no-repeat;
        background-size: cover;
        
        }
        
    
    
    .img{
    
    position: relative;
    
     
    
    border-radius: 03px;
    width: 450px;
    top: 150px ;  
    height: 350px;
    
    border-radius: 09px;
    
    background-repeat: no-repeat;
    
     
    
    left: 30px;
    
    background-image: url("lali.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 400px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 100px;
        
        width: 160px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("fofo.jfif");
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: rgb(4, 230, 230);
        
        font-size: 20px;
        
        
        
        }